@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext");
@font-face {
  font-family: 'Geneva';
  src: url("fonts/Geneva/Geneva.eot?#iefix") format("embedded-opentype"), url("fonts/Geneva/Geneva.woff") format("woff"), url("fonts/Geneva/Geneva.ttf") format("truetype"), url("fonts/Geneva/Geneva.svg#Geneva") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 14px; }

img {
  max-width: 100%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.img-holder {
  position: relative;
  background: #F2F2F2 url("assets/logo-small.png") no-repeat center center;
  background-size: 50px auto;
  overflow: hidden;
  display: block; }
  .img-holder:after {
    content: '';
    display: block;
    width: 100%; }
  .img-holder.size-4:after {
    padding-top: 30%; }
  .img-holder.size-1by1:after {
    padding-top: 100%; }
  .img-holder.size-4by3:after {
    padding-top: 75%; }
  .img-holder.size-16by9:after {
    padding-top: 56.25%; }
  .img-holder img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

/* Buzz Out */
@-webkit-keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }
@keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }
.buzz {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.buzz:hover, .buzz:focus, .buzz:active {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.animation {
  visibility: hidden;
  position: relative;
  animation-fill-mode: forwards;
  opacity: 0; }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideLeft {
  animation-name: slideLeft;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideRight {
  animation-name: slideRight;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.slideUp {
  animation-name: slideUp;
  visibility: visible;
  animation-duration: 1s; }

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideDown {
  animation-name: slideDown;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

.zoom {
  animation-name: zoom;
  visibility: visible;
  animation-duration: 2s;
  opacity: 1; }

@keyframes zoom {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes zoom {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
.form-control-success,
.form-control-warning,
.form-control-danger {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right 0.5625rem;
  -webkit-background-size: 1.125rem 1.125rem;
  background-size: 1.125rem 1.125rem; }

.has-success .form-control-feedback,
.has-success .form-control-label,
.has-success .col-form-label,
.has-success .form-check-label,
.has-success .custom-control {
  color: #5cb85c; }

.has-success .form-control {
  border-color: #5cb85c; }

.has-success .input-group-addon {
  color: #5cb85c;
  border-color: #5cb85c;
  background-color: #eaf6ea; }

.has-success .form-control-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E"); }

.has-warning .form-control-feedback,
.has-warning .form-control-label,
.has-warning .col-form-label,
.has-warning .form-check-label,
.has-warning .custom-control {
  color: #f0ad4e; }

.has-warning .form-control {
  border-color: #f0ad4e; }

.has-warning .input-group-addon {
  color: #f0ad4e;
  border-color: #f0ad4e;
  background-color: white; }

.has-warning .form-control-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E"); }

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
  color: #d9534f; }

.has-danger .form-control {
  border-color: #d9534f !important; }

.has-danger .input-group-addon {
  color: #d9534f;
  border-color: #d9534f;
  background-color: #fdf7f7; }

.has-danger .form-control-danger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E"); }

.error-msg > * {
  color: #d9534f; }

.naslovi {
  position: relative; }
  .naslovi h4, .naslovi h6 {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    position: absolute; }
  .naslovi h6 {
    font-size: 70%;
    margin-top: -40px;
    margin-left: 119px; }
  .naslovi h4 {
    margin-top: -30px;
    margin-left: 70px; }

header .header-top {
  border-bottom: 2px solid #F2F2F2; }
  header .header-top .container {
    padding-bottom: 0.5rem; }
    header .header-top .container .mala-slika {
      display: none; }
    header .header-top .container a {
      color: #000; }
    header .header-top .container .header-icons {
      padding-top: 15px; }
      header .header-top .container .header-icons ul li {
        display: inline-block;
        margin-right: 10px; }
        header .header-top .container .header-icons ul li a {
          color: #7C7C7C; }
      header .header-top .container .header-icons .login {
        margin-bottom: 12px; }
        header .header-top .container .header-icons .login a {
          color: #7C7C7C;
          border: 1px solid #8AB957;
          border-radius: 0.375rem;
          padding: 5px 6px 4px 6px; }
header .header-bottom .navbar {
  padding: 0rem;
  position: relative;
  top: -2px; }
  header .header-bottom .navbar .search-wrapper {
    z-index: 1; }
  header .header-bottom .navbar .navbar-brand {
    display: block; }
  header .header-bottom .navbar .search-icon {
    height: 18px;
    width: 18px;
    line-height: 18px;
    color: #7C7C7C;
    cursor: pointer; }
  header .header-bottom .navbar .search-form {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none; }
  header .header-bottom .navbar .navbar-nav .nav-item .nav-link {
    text-align: center;
    font-size: 1.2rem;
    padding: 0rem 0rem !important; }
    header .header-bottom .navbar .navbar-nav .nav-item .nav-link span {
      border-top: 2px solid transparent;
      border-color: transparent;
      padding: 8px 8px; }
    header .header-bottom .navbar .navbar-nav .nav-item .nav-link:hover span, header .header-bottom .navbar .navbar-nav .nav-item .nav-link.active span {
      border-color: inherit;
      background-color: #F2F2F2; }

@media (min-width: 387px) {
  header .header-bottom .naslovi {
    display: block; } }
@media (min-width: 768px) {
  .naslovi h6 {
    margin-left: 125px; }

  header .header-top .container .mala-slika {
    display: block; }
  header .header-top .container .header-icons {
    padding-top: 30px; }
  header .header-bottom .naslovi {
    display: none; }
  header .header-bottom .navbar .navbar-brand {
    display: none; }
  header .header-bottom .navbar .navbar-nav .nav-item .nav-link {
    font-size: 1rem; } }
@media (min-width: 992px) {
  header .header-bottom .navbar .navbar-nav .nav-item .nav-link {
    font-size: 1.2rem !important; } }
main {
  position: relative;
  top: -2px;
  border-top: 2px solid #F2F2F2; }

.picture {
  margin-bottom: 25px; }
  .picture .picture-item {
    background-color: #F2F2F2; }

.top-35 {
  top: 35% !important; }

.top-55 {
  top: 55% !important; }

.top-75 {
  top: 75% !important; }

.news .container .row .col-sm-9 {
  order: 3;
  padding-right: 0px !important; }
  .news .container .row .col-sm-9 .bot:first-child:before {
    content: '';
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #8AB957, #fff);
    top: -3px;
    position: absolute; }
  .news .container .row .col-sm-9 .bot .bot-title {
    background: linear-gradient(to right, #EAEAEA, #F2F2F2); }
    .news .container .row .col-sm-9 .bot .bot-title h6 {
      text-align: center;
      color: #25282A;
      padding: 0.5rem 2rem;
      font-family: "Roboto", sans-serif;
      font-weight: 500; }
  .news .container .row .col-sm-9 .bot .bot-item ul li {
    padding-top: 2px;
    padding-bottom: 2px; }
    .news .container .row .col-sm-9 .bot .bot-item ul li .user {
      border-bottom: 2px solid #EAEAEA; }
      .news .container .row .col-sm-9 .bot .bot-item ul li .user h6 {
        color: #25282A; }
    .news .container .row .col-sm-9 .bot .bot-item ul li .fa-check-circle {
      color: #8AB957;
      padding-left: 5px; }
.news .container .row .col-sm-18 {
  order: 1; }
  .news .container .row .col-sm-18 .news-slider .lead-slider-wrapper {
    position: relative; }
    .news .container .row .col-sm-18 .news-slider .lead-slider-wrapper ul .news-item .news-item-detail {
      color: #EAEAEA;
      position: absolute;
      bottom: 0;
      left: 1rem; }
      .news .container .row .col-sm-18 .news-slider .lead-slider-wrapper ul .news-item .news-item-detail h2 a {
        font-size: 1.4rem;
        color: #fff;
        font-weight: 400;
        overflow: hidden;
        max-height: 3.4rem;
        line-height: 1.7rem;
        display: block;
        word-wrap: break-word; }
    .news .container .row .col-sm-18 .news-slider .lead-slider-wrapper ul .news-item .number .number-item {
      position: absolute;
      height: 20px;
      width: 30px;
      top: 70%;
      color: #fff;
      font-weight: 500;
      font-size: 70%;
      right: -4px;
      z-index: 3;
      text-align: center;
      padding-top: 5px; }
      .news .container .row .col-sm-18 .news-slider .lead-slider-wrapper ul .news-item .number .number-item:after {
        content: '';
        position: absolute;
        width: 6px;
        height: 8px;
        left: 20px;
        bottom: -8px;
        border-width: 3px;
        border-style: solid;
        border-color: transparent;
        border-top-color: #ABABAB;
        border-left-color: #ABABAB; }
    .news .container .row .col-sm-18 .news-slider .lead-slider-wrapper .owl-prev {
      position: absolute;
      top: 50%;
      left: 0;
      font-size: 2rem;
      background: rgba(245, 245, 245, 0.6);
      width: 2rem;
      height: 2rem;
      color: #fff; }
      .news .container .row .col-sm-18 .news-slider .lead-slider-wrapper .owl-prev:hover {
        background: #dee2e6; }
    .news .container .row .col-sm-18 .news-slider .lead-slider-wrapper .owl-next {
      position: absolute;
      top: 50%;
      right: 0;
      font-size: 2rem;
      background: rgba(245, 245, 245, 0.6);
      width: 2rem;
      height: 2rem;
      color: #fff; }
      .news .container .row .col-sm-18 .news-slider .lead-slider-wrapper .owl-next:hover {
        background: #dee2e6; }
.news .container .row .col-sm-9 {
  order: 2; }
  .news .container .row .col-sm-9 .news-tab .nav-item .nav-link {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    color: #25282A;
    font-weight: 500;
    position: relative; }
  .news .container .row .col-sm-9 .news-tab .nav-item .nav-link.active {
    background: linear-gradient(to right, #EAEAEA, #F2F2F2); }
  .news .container .row .col-sm-9 .news-tab .nav-item .nav-link.active:before {
    content: '';
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #8AB957, #fff);
    top: -3px;
    position: absolute;
    left: 0; }
.news .container .row .tab-content .tab-pane ul .news-item-detail h6 {
  font-size: 1rem;
  overflow: hidden;
  max-height: 3.9rem;
  line-height: 1.3rem;
  display: block;
  word-wrap: break-word; }
.news .container .row .tab-content .tab-pane ul .news-item-detail p {
  font-size: 0.8rem; }
.news .container .row .tab-content .tab-pane ul .number .number-item {
  position: absolute;
  height: 20px;
  width: 30px;
  top: 14%;
  color: #fff;
  font-weight: 500;
  font-size: 70%;
  right: 8%;
  z-index: 3;
  text-align: center;
  padding-top: 5px; }
  .news .container .row .tab-content .tab-pane ul .number .number-item:after {
    content: '';
    position: absolute;
    left: 24.5px;
    top: 20px;
    bottom: -8px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #ABABAB;
    border-left-color: #ABABAB; }

@media (min-width: 768px) {
  .news .container .row .col-sm-18 .news-slider .lead-slider-wrapper ul .news-item .news-item-detail h2 a {
    font-size: 1.5rem; } }
@media (min-width: 992px) {
  .news .container .row .col-lg-4 {
    order: 1;
    padding-right: 0px !important; }
    .news .container .row .col-lg-4 .bot:first-child:before {
      content: '';
      width: 100%;
      height: 3px;
      background: linear-gradient(to right, #8AB957, #fff);
      top: -3px;
      position: absolute; }
    .news .container .row .col-lg-4 .bot .bot-title {
      background: linear-gradient(to right, #EAEAEA, #F2F2F2); }
      .news .container .row .col-lg-4 .bot .bot-title h6 {
        text-align: center;
        color: #25282A;
        padding: 0.5rem 2rem;
        font-family: "Roboto", sans-serif;
        font-weight: 500; }
    .news .container .row .col-lg-4 .bot .bot-item ul li {
      padding-top: 2px;
      padding-bottom: 2px; }
      .news .container .row .col-lg-4 .bot .bot-item ul li .user {
        border-bottom: 2px solid #EAEAEA; }
        .news .container .row .col-lg-4 .bot .bot-item ul li .user h6 {
          color: #25282A; }
      .news .container .row .col-lg-4 .bot .bot-item ul li .fa-check-circle {
        color: #8AB957;
        padding-left: 5px; }
  .news .container .row .col-lg-9 {
    order: 2; }
    .news .container .row .col-lg-9 .news-slider .lead-slider-wrapper {
      position: relative; }
      .news .container .row .col-lg-9 .news-slider .lead-slider-wrapper ul .news-item .news-item-detail {
        color: #EAEAEA;
        position: absolute;
        bottom: 0;
        left: 1rem; }
        .news .container .row .col-lg-9 .news-slider .lead-slider-wrapper ul .news-item .news-item-detail h2 a {
          font-size: 1.7rem;
          color: #fff;
          font-weight: 400;
          overflow: hidden;
          max-height: 4rem;
          line-height: 2rem;
          display: block;
          word-wrap: break-word; }
      .news .container .row .col-lg-9 .news-slider .lead-slider-wrapper ul .news-item .number .number-item {
        position: absolute;
        height: 20px;
        width: 30px;
        top: 70%;
        color: #fff;
        font-weight: 500;
        font-size: 70%;
        right: -4px;
        z-index: 3;
        text-align: center;
        padding-top: 5px; }
        .news .container .row .col-lg-9 .news-slider .lead-slider-wrapper ul .news-item .number .number-item:after {
          content: '';
          position: absolute;
          width: 6px;
          height: 8px;
          left: 20px;
          bottom: -8px;
          border-width: 3px;
          border-style: solid;
          border-color: transparent;
          border-top-color: #ABABAB;
          border-left-color: #ABABAB; }
      .news .container .row .col-lg-9 .news-slider .lead-slider-wrapper .owl-prev {
        position: absolute;
        top: 50%;
        left: 0;
        font-size: 2rem;
        background: rgba(245, 245, 245, 0.6);
        width: 2rem;
        height: 2rem;
        color: #fff; }
        .news .container .row .col-lg-9 .news-slider .lead-slider-wrapper .owl-prev:hover {
          background: #dee2e6; }
      .news .container .row .col-lg-9 .news-slider .lead-slider-wrapper .owl-next {
        position: absolute;
        top: 50%;
        right: 0;
        font-size: 2rem;
        background: rgba(245, 245, 245, 0.6);
        width: 2rem;
        height: 2rem;
        color: #fff; }
        .news .container .row .col-lg-9 .news-slider .lead-slider-wrapper .owl-next:hover {
          background: #dee2e6; }
  .news .container .row .col-lg-5 {
    order: 3; }
    .news .container .row .col-lg-5 .news-tab .nav-item .nav-link {
      border-top-left-radius: 0rem;
      border-top-right-radius: 0rem;
      color: #25282A;
      font-weight: 500;
      position: relative; }
    .news .container .row .col-lg-5 .news-tab .nav-item .nav-link.active {
      background: linear-gradient(to right, #EAEAEA, #F2F2F2); }
    .news .container .row .col-lg-5 .news-tab .nav-item .nav-link.active:before {
      content: '';
      width: 100%;
      height: 3px;
      background: linear-gradient(to right, #8AB957, #fff);
      top: -3px;
      position: absolute;
      left: 0; }
  .news .container .row .tab-content .tab-pane ul .news-item-detail h6 {
    font-size: 1rem;
    overflow: hidden;
    max-height: 3.9rem;
    line-height: 1.3rem;
    display: block;
    word-wrap: break-word; }
  .news .container .row .tab-content .tab-pane ul .news-item-detail p {
    font-size: 0.8rem; }
  .news .container .row .tab-content .tab-pane ul .number .number-item {
    position: absolute;
    height: 20px;
    width: 30px;
    top: 14%;
    color: #fff;
    font-weight: 500;
    font-size: 70%;
    right: 8%;
    z-index: 3;
    text-align: center;
    padding-top: 5px; }
    .news .container .row .tab-content .tab-pane ul .number .number-item:after {
      content: '';
      position: absolute;
      left: 24.5px;
      top: 20px;
      bottom: -8px;
      border-width: 3px;
      border-style: solid;
      border-color: transparent;
      border-top-color: #ABABAB;
      border-left-color: #ABABAB; } }

/*# sourceMappingURL=theme.css.map */
