
@media(min-width: 768px){
  .comment-wrapper{
    .send-btn{
        margin-left: -10px;
    }
    .comment-inner{
        .comment-inner-title{
            color: $gray-900;
            font-size: 15px;
        }
    }
}  
}
