
html{
    font-size: 14px;
}

img{
    max-width: 100%;
}

body{
    font-family: $font-roboto;
    font-weight: $font-weight-regular;
}
// Placeholder for image


.img-holder{
    position: relative;
    background: $gray-100 url('assets/logo-small.png') no-repeat center center;
    background-size: 50px auto;
    overflow:hidden;
    display:block;
    &:after{
        content: '';
        display: block;;
        width: 100%;
    }
   
    &.size-1by1{
        &:after{
            padding-top: 100%;
        }
    }
    &.size-5by2{
        &:after{
            padding-top: 40%;
        }
    }
    &.size-4by3{
        &:after{
            padding-top: 75%;
        }
    }
    &.size-10by1{
        &:after{
            padding-top: 30%;
        }
    }
    &.size-16by9{
        &:after{
            padding-top: 56.25%;
        }
    }
    &.size-1{
        &:after{
            padding-top: 60%;
        }
    }
    
    img{
        display: block;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
    }
}

