
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');

@font-face {
  font-family: 'Geneva';
  src: url('fonts/Geneva/Geneva.eot?#iefix') format('embedded-opentype'),  url('fonts/Geneva/Geneva.woff') format('woff'), url('fonts/Geneva/Geneva.ttf')  format('truetype'), url('fonts/Geneva/Geneva.svg#Geneva') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-roboto: 'Roboto', sans-serif;
$font-geneva-regular: 'Geneva';


$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
