$dark-green: #0BAE92;
$beige: #FFF;

//News comments scss start
.news-comments{
    .container{
        .title-line-news-comments{
            position: relative;
            .news-comments-title{
                padding:11px;
                background: linear-gradient(to right, $beige, #F9F9F9, #F7F7F7);
                color: $gray-900;
                font-family: $font-roboto;
                font-weight: $font-weight-medium;

            }
            &:before {
                content:'';
                width:100%;
                background:linear-gradient(to right, #0BAE92 10%, transparent);
                height:3px;
                left: 0;
                position: absolute;
            }
        }

        .news-comments-slider{
            .lead-slider-wrapper{
                .lead-slider-news-comments{
                    .owl-item{
                        &:nth-of-type(4){
                            margin-right: 0px;
                        }
                    }
                    .owl-dot{

                        font-size: 10px;
                        span{
                            background: #BABABA;

                        }
                        &:hover span, &.active span {
                            background:  $dark-green;
                        } 

                    }
                    .news-comments-item{
                        background: $beige;
                        padding: 15px 33px 10px 33px;
                        cite{
                            &:before{
                                content:"\201D";
                                font-size: 49px;
                                position: absolute;
                                top: 56px;
                                left: 4px;
                                color: $dark-green;
                            }
                            &:after{
                                content:'\201C';
                                font-size: 49px;
                                position: absolute;
                                bottom: 88px;
                                right: 25px;
                                color: $dark-green;
                            }
                        }

                        &:after{
                            content:'';
                            position: absolute;
                            bottom: -23px;
                            left: 15px;
                            width:40px;
                            height:30px;
                            display:block;
                            background-image: url('assets/arrow.png');
                            background-repeat: no-repeat;
                            background-size: 100% auto;
                            background-position: top center; 
                        }

                        .news-comments-item-commentator{
                            color: $gray-900;
                        }
                        cite{
                            padding-top: 10px;
                            padding-bottom: 10px;
                            font-family: $font-roboto;
                            font-weight: $font-weight-medium;
                            color: $gray-900;

                        }
                        .news-comments-item-line{
                            height: 0.1px;
                            width: 203px;
                            border: 1.5px solid #E4E2;
                            margin-top: 10px;
                        }
                        .news-comments-item-title{
                            p{
                                margin-top: 10px;
                                color: $gray-700;
                            }
                        }
                        position: relative;
                        margin-bottom: 1.5rem;
                        border: 0.5px solid #ABABAB;
                        margin-left: 10px;
                        &:hover{
                            background: $gray-200;
                            &:after{
                                display: none;
                            }
                        }

                    }
                }
            }
        }

    }
}
//News comments scss end