
main{
    position:relative;
    top: -2px;
    border-top: 2px solid $light-gray;
}
//Picture variables
.picture{
    margin-bottom: 25px;
    .picture-item{
        img{
            margin-left: 5%;
            padding-top: 2%;
            width: 90%;
        }
        
    }
}