.top-news{
    margin-bottom: 2rem;
    .container{
        .title-line-top-news{
            position: relative;
            &:before {
                content:'';
                width:100%;
                background:linear-gradient(to right, #0BAE92 10%, $gray-100);
                height:3px;
                left: 0;
                position: absolute;
            }
            .top-news-title{
                padding:11px;
                background: linear-gradient(to right, $beige, #F9F9F9, #F7F7F7);
                color: $gray-900;
                font-family: $font-roboto;
                font-weight: $font-weight-medium;

            }  
        }

    }
    .row{
        .col-sm-18,.col-lg-6{
            .top-news-item{
                margin-bottom:0.8rem;
                .top-news-item-detail{
                    background: linear-gradient(to top, rgba(0,0,0,0.5) , rgba(0,0,0,0.1));
                    width:92%;
                    &:hover{
                        background:linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
                    }
                    h2{
                        a{
                            font-size: 16px;
                            color: $white;
                            font-weight: $font-weight-normal;
                            overflow: hidden;
                            max-height: 3.4rem;
                            line-height: 1.7rem;
                            display: block;
                            word-wrap: break-word;
                            padding-left:15px;
                            padding-right: 15px;
                        }
                    }
                    p{
                        padding-left:15px;
                        padding-right: 15px;
                    }
                    color: $gray-200;
                    position:absolute;
                    bottom: 10.3rem;
                    left: 1rem;
                }
                .top-news-item-quote{
                    background: $beige;
                    padding:10px;
                    padding-bottom: 5px;
                    .top-news-comentator{
                        a{
                            color: #8D8B8B;
                            &:hover{
                                color: $gray-900;
                            }
                        }

                    }
                    .top-news-comentator-quote{
                        padding-right: 1rem;
                        color: $gray-800;
                        font-size: 15px;
                        line-height: 1.5rem;
                        max-height: 3.2rem;
                        overflow: hidden;
                        font-style: italic;
                    }
                    .number{
                        .number-item{
                            position: absolute;
                            height: 20px;
                            width: 30px;
                            top: 75%;
                            color: $white;
                            font-weight: $font-weight-medium;
                            font-size: $small-font-size;
                            right: 4px;
                            z-index: 3;
                            text-align: center;
                            padding-top: 5px;
                            &:after{
                                content: '';
                                position: absolute;
                                width: 6px;
                                height: 8px;
                                left: 20px;
                                bottom:-8px;
                                border-width: 3px;
                                border-style: solid;
                                border-color: transparent;
                                border-top-color: $gray-500;
                                border-left-color: $gray-500;
                            }

                        }
                    }
                }
            }
        }
    }
}
@media(min-width: 576px){
      .top-news{
        .row{
            .col-lg-6{
                .top-news-item{
                    .top-news-item-detail{
                        width:95% ;
                        bottom: 9.9rem ;
                    }
                  
                }
            }
        }
    }
}
@media(min-width: 768px){

    .top-news{
        .row{
            .col-sm-18{
                .top-news-item{
                    .top-news-item-detail{
                        width:96% ;
                        bottom:8.5rem ;
                    }
                    .top-news-item-quote {
                        .number{
                            .number-item{
                                top:85% ;
                            }
                        }
                    }  
                }

            }
        }
    }
}

@media(min-width: 992px){
    .top-news{
        .row{
            .col-lg-6{
                .top-news-item{
                    .top-news-item-detail{
                        width:91% ;
                        bottom: 10rem ;
                    }
                    .top-news-item-quote{
                        .number{
                            .number-item{
                                top: 65%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1200px){
     .top-news{
        .row{
            .col-lg-6{
                .top-news-item{
                    .top-news-item-detail{
                        width:93% ;
                        bottom: 9.8rem ;
                    }
                 
                }
            }
        }
    }
}