

//GLOBAL VARIABLES (TOP)

.top-3{
    top:3%;
}
.top-14{
    top:14%;
}
.top-15{
    top:15%;
}
.top-17{
    top:17%;
}
.top-20{
    top:20%;
}
.top-23{
    top: 23%;
}
.top-25{
    top:25%;
}
.top-34{
    top:34%;
}
.top-36{
    top:36%;
}
.top-40{
    top:40%;
}
.top-43{
    top: 43%;
}
.top-45{
    top: 45%;
}
.top-47{
    top:47%;
}
.top-50{
    top:50%;
}
.top-55{
    top:55%;
}
.top-57{
    top: 57%;
}
.top-58{
    top:58%;
}
.top-69{
    top:69%;
}
.top-75{
    top:75%;
}
.top-80{
    top:80%;
}
.top-91{
    top:91%;
}