$dark-red: #E0311F;


.youtube{
    margin-bottom: 2rem;
    .container{
        .title-line-youtube{
            &:before {
                content:'';
                width:87%;
                height:3px;
                background:linear-gradient(to right, $dark-red, $gray-100);
                position: absolute;


            }
            .youtube-title{
                padding:11px;
                background: linear-gradient(to right, $beige, #F9F9F9, #F7F7F7);
                color: $gray-900;
                font-family: $font-roboto;
                font-weight: $font-weight-medium;

            }  
        }

    }
    .row{
        .col-sm-18,.col-lg-6{
            .youtube-item{
                margin-bottom: 1rem;
                .youtube-play{
                    position: absolute;
                    top:20%;
                    left: 45%;

                    a{
                        color: $white;
                        font-size: 4rem;
                        &:hover{
                            color: $gray-300;
                        }

                    }
                }
                .youtube-item-detail{
                    background: linear-gradient(to top, rgba(0,0,0,0.5) , rgba(0,0,0,0.1));
                    width:92%;
                    h2{
                        a{
                            font-size: 16px;
                            color: $white;
                            font-weight: $font-weight-normal;
                            overflow: hidden;
                            max-height: 3.4rem;
                            line-height: 1.7rem;
                            display: block;
                            word-wrap: break-word;
                            padding-left:15px;
                            padding-right: 15px;
                        }
                    }
                    p{
                        padding-left:15px;
                        padding-right: 15px;
                    }
                    color: $gray-200;
                    position:absolute;
                    bottom: 10.3rem;
                    left: 1rem;
                }
                .youtube-item-quote{
                    background: $beige;
                    padding:10px;
                    padding-bottom: 5px;
                    .youtube-comentator{
                        a{
                            color: #8D8B8B;
                        }

                    }
                    .youtube-comentator-quote{
                        color: $gray-800;
                        font-size: 15px;
                    }
                    .number{
                        .number-item{
                            position: absolute;
                            height: 20px;
                            width: 30px;
                            top: 75%;
                            color: $white;
                            font-weight: $font-weight-medium;
                            font-size: $small-font-size;
                            right: 4px;
                            z-index: 3;
                            text-align: center;
                            padding-top: 5px;
                            &:after{
                                content: '';
                                position: absolute;
                                width: 6px;
                                height: 8px;
                                left: 20px;
                                bottom:-8px;
                                border-width: 3px;
                                border-style: solid;
                                border-color: transparent;
                                border-top-color: $gray-500;
                                border-left-color: $gray-500;
                            }

                        }
                    }
                }
            }
        }
    }
}
@media(min-width: 576px){
    .youtube-item{
        .youtube-item-detail{
            width:95% !important;
            bottom: 9.5rem !important;
        }
    }
}
@media(min-width: 768px){
    .youtube-item{
        .youtube-item-detail{
            width:96% !important;
            bottom: 8.7rem !important;
        }
    }
}
@media(min-width: 992px){
    .youtube-item{
        .youtube-item-detail{
            width:91% !important;
            bottom: 10.3rem !important;
        }
    }
}
@media(min-width: 1200px){
    .youtube-item{
        .youtube-item-detail{
            width:93% !important;
            bottom: 9.3rem !important;
        }
    }
}